.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: #333;
}

.main-content {
  flex: 1;
  overflow: hidden;
  padding-top: 56px; /* Space for fixed header */
}
